{% extends 'index.html' %}
{% load static %}

{% block titulo %}

                <h1 style="color:rgb(255, 255, 255); "
                    >Turismo Prattos</h1>

{% endblock %}




{% block subtitulo %}
<div class="transbox">
<h1 style="background-color:rgb(190, 255, 244); color:rgb(3, 3, 3); "
                            >Conoce nuestra empresa</h1>

</div>
{% endblock %}

{% block seccion1 %}
    <img class="img-fluid rounded-circle mb-3" style="width:487px;height:227px" src="static/Home/assets/imagenes/nosotros2.jpg" alt="..." />
    <h2 style="background-color:rgb(128, 128, 248);">Nuestros Inicios</h2>
    <h6 style="background-color:rgb(128, 128, 248);"
    >Somos una empresa de viajes y turismo cuyos comienzos nos llevan al año 2005, cuando en zona Sur de la provincia de Buenos Aires
     se inicia lo que hoy es Turismo Prattos, una empresa de viajes y turismo que nació ofreciendo un amplio servicio en turismo 
     nacional como internacional, 
     siendo su principal fortaleza un servicio personalizado pre y post venta. Una empresa que se creó con la estructura
      y los valores tradicionales del sector, abocándose al servicio personalizado, al detalle de cada experiencia y a la excelencia 
      en todos los productos. A partir del año 2012 la empresa cambió de manos para de esta forma poder renovarse y, 
      manteniendo su base y fortalezas anteriores, poder adaptarse a los nuevos tiempos que obligan a ofrecer una amplia variedad 
      de productos y servicios por medio de la web, creando una plataforma que nos permita mostrar, asesorar y vender
       desde nuestra página como también desde las redes sociales para lograr operaciones inmediatas, confiables y poder 
       aprovechar y adquirir un amplio abanico de opciones que van desde ofertas de último momento hasta paquetes de viajes 
       personalizados.</h6 >
{% endblock %}

{% block seccion2 %}
    <img class="img-fluid rounded-circle mb-3" style="width:487px;height:227px" src="static/Home/assets/imagenes/nosotros4.jpg" alt="..." />
    <h2 style="background-color:rgb(128, 128, 248);">Hacer Relidad tus Sueños</h2>
    <h6 style="background-color:rgb(128, 128, 248);"
    >Porque sabemos cuánto significa para vos cumplir el sueño de un viaje placentero, disfrutando de nuevos y
    paradisíacos lugares, o de aquellos que guardan la historia de la humanidad, 
    es que siempre tenemos una alternativa que le permitirá concretar su viaje.   
    Disponemos de todas las opciones y recursos para brindarle un servicio garantizado y de excelente calidad. 
    Porque sabemos del VALOR DE SU TIEMPO, Y DE LA IMPORTANCIA DE SUS SUEÑOS.</h6 >
{% endblock %}

{% block seccion3 %}
    <img class="img-fluid rounded-circle mb-3" style="width:487px;height:227px" src="static/Home/assets/imagenes/nosotros3.jpg" alt="..." />
    <h2 style="background-color:rgb(128, 128, 248);">Pensando en el Futuro</h2>
    <h6 style="background-color:rgb(128, 128, 248);"
    >Nos renovamos para renovar la confianza y el compromiso que construimos juntos hace más de 10 años, comenzamos una nueva etapa,
     que nos permite evolucionar pensando en el mundo actual y, sobretodo, en el que viene. Queremos satisfacer las nuevas expectativas.
      Nos renovamos para estar más cerca, para tener más vendedores, mayor capacidad de respuesta, 
    nos renovamos para darte una mejor atención y un servicio online personalizado.</h6 >
{% endblock %}