<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
    <h1>Hola hay viajes para {{lugar}} y dura {{dias}}, es de pension {{pension}},</h1>
    -->
    <h2> 
        {{objetos}}
    </h2>
        {% for objeto in objetos%}
            <h3>Usted puede viajar a {{objeto.d_lugar}} {{objeto.d_dias}} dias con {{objeto.d_pension}} pension</h3>
        {%endfor%}
    
</body>
</html>