{% extends 'index.html' %}
{% load static %}

{% block titulo %}
<h1 class="mb-0">Disfruta tu proximo Destino!</h1>
{% endblock %}


{% block subtitulo %}
<h1 style="background-color:rgb(190, 255, 244); color:rgb(3, 3, 3); "
    >Estas son las ofertas pensadas para vos</h1>
{% endblock %}


{% block contenido %}
<section>
    <div class="text-center" style="background-color:rgb(138, 255, 144); ">
        
        

<form action="" method="get">

    <input type="text" name="buscardestino" id="buscardestino">
    
    <button type="submit" value="Buscar">Buscar</button>
    

</form>
{% if lugares %} 
    <table class ='table table-bordered' >
        <thead>
            <tr>
                <td>Destinos</td>
                <td>Cantidad de dias</td>
                <td>Tipo de Pension</td>
                <td>Fecha de Salida</td>
                <td>Fecha de Regreso</td>
                <td>Costo en Dolares</td>
            </tr>
        </thead>
        <tbody>
            {% if lugares %}
            {% for lugar in lugares %}
            <tr>
                <td>{{lugar.d_lugar}}</td>
                <td>{{lugar.d_dias}}</td>
                <td>{{lugar.d_pension}}</td>
                <td>{{lugar.d_salida}}</td>
                <td>{{lugar.d_regreso}}</td>
                <td>{{lugar.d_costo}}</td>
            </tr>        
            {%endfor%}
            {% endif %}

        </tbody>
    </table>
{% endif %}

    
<!--   {% for objeto in objetos%}
        <h3>Usted puede viajar a {{objeto.d_lugar}} {{objeto.d_dias}} dias con {{objeto.d_pension}} pension</h3>
    {%endfor%}-->

</section>

{% endblock %}

{% block casipie %}
<h2 class="mb-4">Elige ahora tu siguiente AVENTURA!<br>
    Y envianos un mensaje con tu eleccion para que te podamos contactar.</h2>
    <h6> Haz click en la imagen<h6>
    <a href={% url 'Ingreso de Datos Destino' %}> <img class="img-fluid rounded-circle mb-3"  style="width:487px;height:227px" 
        src="static/Home/assets/imagenes/destino1.jpg" alt="..." /></a>
    

{% endblock %}