{% extends 'index.html' %}
{% load static %}




            {% block botones %}
                
            {% endblock %}




                        {% block titulo %}
                        <h1 class="mb-0">Estan listos para vivir su proxima EXPERIENCIA!</h1>
                        {% endblock %}



                
                        {% block subtitulo %}
                        <div class="transbox">
                        <h1 style="background-color:rgb(190, 255, 244); color:rgb(3, 3, 3); "
                            >Conoce nuestra oferta pensada para vos</h1>
                        </div>  
                        {% endblock %}
                    
        {% block contenido %}
        
                            {% block seccion1 %}
                            
                            {% endblock %}
                        
                            {% block seccion2 %}
                            
                            {% endblock %}
                        
                            {% block seccion3 %}
                            
                            {% endblock %}
                        
        {% endblock %}
            
        
        
                        {% block casipie %}
                    

                        {% endblock %}
                    
        {% block pie %}

        {% endblock %}
        <!-- Footer-->
        